body, p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans';
  font-weight: 300;
}

body, p {
  line-height: 1.5;
  font-size: 18px;
}

html, body {
  width: 100%;
  height: 100%;
  margin: auto;
}

body {
  /*background-color: #deeaee; */
  display: block;
  background-image: url("../images/web.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

}


h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0;

}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
  font-weight: 400;
}

div {
  display: block;
}

a{
  text-decoration: none;
  color: #CDA77D;
}

a:hover {
  text-decoration: underline;
}

/* shared style */
.wide {
  letter-spacing: 4px;
}

.title{
  padding: 16px 0px 0px 0px;
  color: #85B095;
  font-family: 'Alegreya Sans SC';
  font-weight: bold;
  text-transform: uppercase;
}


.button {
  border: none;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.button:hover {
  color: #1A2D21;
  background-color: white;
}

a.emph-link {
  font-weight: bold;
  font-style: italic;
}

.div-content{
  position:relative;
}

.div-bkg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: white;
  opacity: 0.95;
}
/* sidebar style */
#sidebar {
  margin-left: 30px;
  width: 250px;
  height: 100%;
  background-color: transparent;
  position: fixed;
  overflow: auto;
}

#sidebar-title {
  position: relative;
  padding-left: 30px;
  padding-bottom: 30px;
  background-color: #FCF3F3;
}

#sidebar-menu {
  font-weight: bold;
  color: white;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 18px;
  position: relative;
  text-transform: uppercase;
}

.sidebar-item {
  width: 100%;
  display: block;
  padding: 8px 16px 8px 32px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  box-sizing: border-box;
  font-family: 'Alegreya Sans SC';
}

/* downlist style */


/* main page style */
#main {
  margin-left: 300px;
  margin-right: 40px;
  display: block;
  min-height: 100%;
}

#main-title {
  font-weight: bolder;
  box-sizing: border-box;
  background-color: #FCF3F3;
}

.main-content {
  margin: 30px 30px;
  padding: 30px;
  color: #1A2D21;
  position: relative;
}

/* multi-column */
.column-main {
  display: block;
}

.column {
  vertical-align: top;
  display: inline-block;
  width: 47%;
  margin:0 1%;
}

.column h3{
  text-align: center;
}


/* block list style */

ul.whole-list {
  list-style-type: circle;
  list-style-position: inside;
  margin: 20px;
  margin-right: 50px;
  padding: 10px;
  background-color: #B29494;
  color: white;
  border-radius: 15px;
  font-size: 16px;
}

ul.whole-list li{
  margin: 10px 10px;
}

ul.block-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ul.block-list li {
  background-color: #B29494;
  color: white;
  margin-bottom: 20px;
  padding: 10px 10px 10px 30px;
  box-sizing: border-box;
  border-radius: 15px;
}

ul.block-list li.left-top{
  border-radius: 15px 50px;
  height: 370px;
  vertical-align: middle;
}

ul.block-list li.right-bottom{
  border-radius: 50px 15px;
  height: 370px;
  vertical-align: middle;
}


/* footer style */
.container {
  min-height: 100%;
}

#footer {
  background-color: #FCF3F3;
  color: #85B095;
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
}
